body {
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.text {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
}

.hero {
  background-color: #5c4949;

  margin: auto;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero {
    max-width: 375px;
    padding-top: 395px;
    padding-bottom: 20px;
  }

  .hero-container {
  }

  .hero-title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
    color: #ffffff;
  }

  .hero-button {
    display: flex;
    margin-bottom: 32px;
    column-gap: 14px;
  }

  .buy-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat';
    color: #ffffff;
    width: 120px;
    height: 41px;
    
    background: #fd9222;
    border-radius: 100px;
  }

  .made-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;

    width: 159px;
    height: 41px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 100px;
  }

  .scroll-btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .scroll-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  .hero-svg {
    width: 12px;
  }
}
