body {
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.text {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
}

.hero {
  /* background-color: #5c4949; */

  margin: auto;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}

/* --------------------------------------------------------------------------------- */

/* Mobile hero image 1x */
@media screen and (max-device-pixel-ratio: 1) and (max-width: 767px),
  screen and (max-resolution: 96dpi) and (max-width: 767px),
  screen and (max-resolution: 1dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("../images/mobile/chocolate-covered-cocoa-powder\ 1.jpg");
  }
}
/* Mobile hero image 2x */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("../images/mobile/chocolate-covered-cocoa-powder\ 1@2x.jpg");
  }
}

/*Тільки мобілка*/

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero {
    max-width: 375px;
    padding-top: 395px;
    padding-bottom: 20px;
  }

  .hero-container {
  }

  .hero-title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
    color: #ffffff;
  }

  .hero-button {
    display: flex;
    margin-bottom: 32px;
    column-gap: 14px;
    align-items: center;
  }

  .hero-item {
   
  }

  .buy-btn {
    display: flex;

    column-gap: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    font-family: "Montserrat";
    color: #ffffff;
   padding: 12px 25px;
    align-items: center;
    justify-content: center;
    background: #fd9222;
    border-radius: 100px;
  }

  .made-btn {
  }

  .hero-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    column-gap: 14px;
   
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 100px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .hero-scroll-btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }

  .scroll-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  .hero-scroll-text {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hero-scroll-link {
    display: flex;
    column-gap: 14px;
    align-items: center;
  }

  .hero-svg {
    width: 12px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */

/*Мобілка і планшет*/
@media screen and (max-width: 1199px) {
}

/* --------------------------------------------------------------------------------------------------------- */

@media screen and (max-device-pixel-ratio: 1) and (min-width: 768px) and (max-width: 1199px),
  screen and (max-resolution: 96dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (max-resolution: 1dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("../images/laptop/chocolate-covered-cocoa-powder\ 1.jpg");
  }
}
/* Laptop image 2px */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("../images/laptop/chocolate-covered-cocoa-powder\ 1@2x.jpg");
  }
}

/*Тільки планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

/* ------------------------------------------------------------------------------------------ */

/*Планшет і десктоп*/
@media screen and (min-width: 768px) {
}

/* ------------------------------------------------------------------------------------------ */

@media screen and (max-device-pixel-ratio: 1) and (min-width: 1200px),
  screen and (max-resolution: 96dpi) and (min-width: 1200px),
  screen and (max-resolution: 1dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("../images/desktop/chocolate-covered-cocoa-powder\ 1.jpg");
  }
}
/* Desktop contacts image 2px */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("../images/desktop/chocolate-covered-cocoa-powder\ 1@2x.jpg");
  }
}

/*Тільки десктоп*/
@media screen and (min-width: 1200px) {
}
